extends ../layout/index 
block contenido

    //- h1= pagina
    //- h1 #{pagina} lo mismo

    main.container.mt-5
        h1.text-center.mb-5 #{pagina}
        
        include ../layout/parciales/viajes